body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group {
    max-width: 280px;
}

/* Configure the jquery ui date picker for forms */
.ui-datepicker {
    font-size: 16.5px;
    height: 275px;
}

/* Configure the jquery time picker for forms */
.wickedpicker {
    display: block;
    position: inherit!important;
    margin: 0;
    width: 280px; 
    box-shadow: none;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}
.wickedpicker__close {
    display: none;
}